---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body{% if page.hide_masthead == true %} class="layout-no-masthead"{% endif %}>

    {% include browser-upgrade.html %}
    {% unless page.hide_masthead == true %}
      {% include masthead.html %}
    {% endunless %}

    {{ content }}

    {% include scripts.html %}

  </body>
</html>
